<div *ngIf="form" class="d-flex p-1" [formGroup]="form">
  <div class="input-group p-1">
    <input type="text" class="form-control" [placeholder]="'DATE' | translate" formControlName="date" bsDatepicker>
  </div>
  <div class="input-group p-1">
    <input type="number" class="form-control" [placeholder]="'DURATION' | translate" formControlName="duration">
  </div>
  <div class="input-group p-1">
    <input type="text" class="form-control" [placeholder]="'POSTCODE' | translate" formControlName="postcode">
  </div>
</div>
