<div class="d-flex flex-column bg-primary border">
  <div class="d-flex flex-column">
    <span>{{weekDay}}</span>
    <span>{{formatDay}}</span>
  </div>
  <htt-book-schedule-event
    *ngFor="let event of day.startTimes"
    [event]="event"
    [selected]="selected(event)"
    [booked]="booked(event)"
    (select)="onSelect($event)">
  </htt-book-schedule-event>
</div>
