<htt-book-schedule-filters [form]="form"></htt-book-schedule-filters>
<div *ngIf="schedule$ | async as schedule" class="d-flex">
    <div *ngFor="let day of schedule" class="d-flex flex-grow-1">
      <htt-book-schedule-day
        class="flex-grow-1"
        [day]="day"
        [selectedEvent]="getSelectedEventByDay(day)"
        [bookedEvents]="getBookedEventsForDay(day)"
        (select)="onSelect($event)"></htt-book-schedule-day>
    </div>
</div>
<htt-book-schedule-confirm
  *ngIf="selectedDay"
  [day]="selectedDay"
  [duration]="form.value.duration"
  [postcode]="form.value.postcode"
  (booked)="onBooked($event)">
</htt-book-schedule-confirm>
