<div *ngIf="day" class="d-flex flex-column">
  <h3 translate>AUDIT_AND_CONFIRM</h3>
  <div class="mb-1">
    <span translate [translateParams]="{ date: date }">DISPLAY_DATE</span>
  </div>
  <div class="mb-1">
    <span translate [translateParams]="{ time: event }">ARRIVE_BETWEEN</span>
  </div>
  <div class="mb-1">
    <span translate [translateParams]="{ duration: duration }">DISPLAY_DURATION</span>
  </div>
  <div class="mb-1">
    <span translate [translateParams]="{ postcode: postcode }">DISPLAY_POSTCODE</span>
  </div>
  <div>
    <button class="btn btn-success" (click)="request()" translate>REQUEST</button>
  </div>
</div>
