<div *ngIf="(toasts$ | async)?.length > 0" class="w-100 position-absolute toast-container">
  <div class="container-fluid p-3 position-relative">
    <div *ngFor="let toast of toasts$ | async">
      <alert
        [type]="toast.type"
        [dismissOnTimeout]="toast.timeout"
        [dismissible]="dismissible"
        (onClosed)="onClosed(toast)">
        <div class="d-flex justify-content-center align-items-center">
          <strong translate>{{toast.heading}}</strong> <span translate>{{toast.message}}</span>
        </div>
      </alert>
    </div>
  </div>
</div>
